<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedicoControl</title>
    <link rel="stylesheet" href="/css/styleControl.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="Containerss">
        <%- include("navbarControl")%>
        <div class="mmm">
            <div class="hijo0">
                <h1>Bienvenido <%= nombre %> a Medico de Control</h1>
            </div>
            
            <div class="hijo1">
            <h2>Usuarios Registrados</h2>
            <canvas id="myChart1"></canvas> <!-- Aquí se renderiza la gráfica -->
            </div>
            <div class="hijo2">
                <h2>Estado de recetas</h2>
                <canvas id="myChart3"></canvas> <!-- Aquí se renderiza la gráfica -->
            </div>
            <div class="hijo3">
                <h2>Estado de consultas</h2>
                <canvas id="myChart2"></canvas> <!-- Aquí se renderiza la gráfica -->
            </div>
            <div class="hijo4">
                <h2>Estado de consultas</h2>
                <canvas id="myChart4"></canvas> <!-- Aquí se renderiza la gráfica -->
            </div>
        </div>
    </div>
</body>
<script src="/js/script.js"></script>
</html>