<div class="menu-dashboard">
    <!-- top del menu -->
    <div class="top-menu">
        <div class="logo">
            <img src="/img/logo.png" alt="">
        </div>
    </div>
         <!-- menu -->
         <div class="menu">
            <div class="enlace" data-tooltip="Inicio">
                <a href="/indexMedico"><i class='bx bxs-home'></i></a>
            </div>
            <div class="enlace" data-tooltip="Quejas / Sugerencias">
                <a href="/ContactoMedico"><i class='bx bxs-smile'></i></a>
            </div>
            <div class="enlace" data-tooltip="Cerrar Sesión">
                <a href="/CerrarSesion"><i class='bx bxs-log-out'></i></a>
            </div>
     </div>
</div>
